<app-header title="NOVA ADMISSÃO COOPERADO"></app-header>

<div class="container-custom">
  <mat-stepper class="stepper-custom" linear="true" labelPosition="bottom" #stepper>
    <mat-step [stepControl]="startGroup">
      <h4 class="title-form">Informe o CPF do futuro cooperado (a)</h4>
      <p class="description-form">Se necessário, você poderá duplicar uma conta existente ou pausar e retomar este
        cadastro futuramente.
        Digite apenas os números (sem pontos ou traços).</p>

      <form [formGroup]="startGroup" (ngSubmit)="onSubmit()">
        <ng-template matStepLabel>Inicio</ng-template>

        <div class="row mt-4">
          <mat-form-field class="col-sm-2" appearance="fill">
            <mat-label>CPF</mat-label>
            <input matInput placeholder="000.000.000-00" mask="000.000.000-00" formControlName="cpf">
            <mat-error *ngIf="startGroup.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <button class="button-submit" type="submit" mat-raised-button>
            <ng-container *ngIf="isLoading">
              <mat-progress-spinner class="example-margin" mode="indeterminate" diameter="30">
              </mat-progress-spinner>
            </ng-container>
            <ng-container *ngIf="!isLoading">Consultar por CPF</ng-container>
          </button>
        </div>
      </form>

      <div class="row" *ngIf="showCard">
        <div class="col-sm-3">
          <mat-card>
            <mat-card-title-group>
              <mat-card-title class="card-title">Situação cadastral do CPF</mat-card-title>
              <mat-card-subtitle class="card-description">Consulta na Receita Federal</mat-card-subtitle>
            </mat-card-title-group>

            <mat-card-content>
              <div class="row">
                <div class="col-sm-2 offset-sm-1">
                  <mat-icon>person</mat-icon>
                </div>

                <div class="col-sm-8">
                  <mat-card-subtitle>Nome</mat-card-subtitle>
                  <p class="card-content-description">Mariane de Sousa Oliveira</p>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-2 offset-sm-1">
                  <mat-icon class="icon-check-custom">check_circle_outline</mat-icon>
                </div>

                <div class="col-sm-8">
                  <mat-card-subtitle>Situação do CPF</mat-card-subtitle>
                  <p class="card-content-description">Regular</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-sm-3">
          <mat-card>
            <mat-card-title-group>
              <mat-card-title class="card-title">Conta aplicação</mat-card-title>
              <mat-card-subtitle class="card-description">Cooperativa Viacredi</mat-card-subtitle>
            </mat-card-title-group>

            <mat-card-content>
              <div class="row">
                <div class="col-sm-2 offset-sm-1">
                  <mat-icon>credit_card</mat-icon>
                </div>

                <div class="col-sm-8">
                  <mat-card-subtitle>Número da conta</mat-card-subtitle>
                  <p class="card-content-description">557932-4</p>
                </div>
              </div>

              <div class="row">
                <a class="col-sm-5 offset-sm-1 card-content-button" href="">Duplicar conta</a>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-sm-3">
          <mat-card>
            <mat-card-title-group>
              <mat-card-title class="card-title">Conta corrente</mat-card-title>
              <mat-card-subtitle class="card-description">Cooperativa Viacredi</mat-card-subtitle>
            </mat-card-title-group>

            <mat-card-content>
              <div class="row">
                <div class="col-sm-2 offset-sm-1">
                  <mat-icon>credit_card</mat-icon>
                </div>

                <div class="col-sm-8">
                  <mat-card-subtitle>Número da conta</mat-card-subtitle>
                  <p class="card-content-description">557932-4</p>
                </div>
              </div>

              <div class="row">
                <a class="col-sm-5 offset-sm-1 card-content-button" href="">Duplicar conta</a>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>


    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Documentos</ng-template>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Dados cadastrais</ng-template>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Admissão</ng-template>
    </mat-step>
  </mat-stepper>
</div>

<footer>
  <button mat-button>Dicas para abertura da conta</button>
</footer>
