.home-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.home-mobile {
  position: fixed;
  z-index: 2;
}

.home-sidenav-container {
  flex: 1 0 auto;
}

.navbar-brand img {
  max-width: 70px;
}

mat-nav-list>a {
  font: normal normal 500 18px;
  color: #fff;
}

mat-sidenav-content {
  background-color: rgb(232, 239, 242);
}

.mat-icon-sidenav {
  font-size: 35px;
  height: 35px;
  width: 35px;
}
